@charset "utf-8";

#navigation a:hover {
  color: dimgrey;
}

#navigation a {
	color: black;
	text-decoration: none;
}

#header h1 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}
#profile-pic {
    display: inline-block;
}
#body {
    text-align: center;
    margin: auto;   
}
#about-me {
    display: inline-block;
    width: 33%;
    margin: 5px;
    vertical-align: top;
    text-align: left;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
}
#background {
    color: #000000;
}

#navigation {
    margin: auto;
    border-bottom: thin solid #000000;
    width: 200px;
    text-align: center;
    padding-top: 1%;
}

#navigation div {
    margin: 5px;
    display: inline-block;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: large;
    font-style: normal;
    font-weight: lighter;
}

#rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
	-webkit-background-clip: text;
	color: transparent;
}
.other-media {
    text-align: left;
}

#projectsBody {
    margin: auto;
    width: 65%;
}
#project-header {
    text-align: center;
}
#project-list {
	display: table;
	width: 100%;
}
.project {
    display: table;
    border-bottom: thin solid #000000;
    padding-top: 3%;
    padding-bottom: 3%;
}

.project-content {
    display: table-row;
}
.project .description {
    display: table-cell;
	vertical-align: top;
	
	
}
.project .image {
	text-align: right;
    display: table-cell;
    width: 320px;
    height: 100%;
	padding-left: 2%;
	padding-top: 5%;
}

#art-body {
	
}

#art-table {
	padding-top: 3%;
	margin: auto;
	display: table;
}

.art-row {
	
}

.image-container {
	padding: auto;
    padding-right: 1%;
    padding-left: 1%;
    vertical-align: middle;
    display: table-cell;
    width: 10%;
    height: 6%;
}

/* resize images */
.image-container img {
    width: 100%;
    height: auto;
}

/* resize GIF's */
.image-container iframe {
    width: 100%;
	border: none;
}

