.project {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project_img {
    max-width: 400px;
    max-height: 400px;
}

.spacer {
    padding-top: 20px;
}

@media screen and (max-width:800px) {  
    #profile-pic {
      display: none;
    }
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}